@model BugTracker.Application.Model.Pagination.Pager

<div class="row d-flex justify-content-sm-between align-items-center w-100">
    <div class="pagination-holder d-flex p-2">
        @if (Model.CurrentPage > 1)
        {
            <a class="purple-circle angle" asp-action="ByProject" asp-route-projectId="@Model.RelatedId" asp-route-page="1" asp-route-searchstring="@Model.SearchText">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a class="purple-circle angle" asp-action="ByProject" asp-route-projectId="@Model.RelatedId" asp-route-page="@(Model.CurrentPage - 1)" asp-route-searchstring="@Model.SearchText">
                <i class="fas fa-angle-left"></i>
            </a>
        }
        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
        {
            if (Model.CurrentPage == i)
            {
                <a class="purple-circle  @(i == Model.CurrentPage ? "filled" : "")">@i</a>
            }
            else
            {
                <a class="purple-circle" asp-action="ByProject" asp-route-projectId="@Model.RelatedId" asp-route-page="@i" asp-route-searchstring="@Model.SearchText">@i</a>
            }
        }

        @if (Model.CurrentPage < Model.EndPage)
        {
            <a class="purple-circle angle" asp-action="ByProject" asp-route-projectId="@Model.RelatedId" asp-route-page="@(Model.CurrentPage + 1)" asp-route-searchstring="@Model.SearchText">
                <i class="fas fa-angle-right"></i>
            </a>
            <a class="purple-circle angle" asp-action="ByProject" asp-route-projectId="@Model.RelatedId" asp-route-page="@(Model.TotalPages)" asp-route-searchstring="@Model.SearchText">
                <i class="fas fa-angle-double-right"></i>
            </a>
        }
    </div>

    <div class="p-2">
        <p>
            Showing @Model.StartRecord to @Model.EndRecord of @Model.TotalItems Rows.
        </p>
    </div>
</div>
