
@if (ViewBag.isSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show m-0 " role="alert">
        <strong>Success  <i class="fas fa-check"></i> </strong> <br /> Your @ViewBag.type was @ViewBag.actionReturned.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
else if (ViewBag.isFailed == true)
{
    <div class="alert alert-danger alert-dismissible fade show m-0 " role="alert">
        <strong>Error - </strong> <br /> Your @ViewBag.type was not @ViewBag.actionReturned.
        <ul>
            @foreach (var error in ViewBag.errors)
            {
                <li>@error</li>
            }
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}