@model DashboardViewModel

<partial name="../Shared/Partial/Common/_modalHolderPartial.cshtml" />

<!--First row -->
<div class="row p-3">
    <div class="first-row">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title"> Projects </div>
            <div class="project-add-holder"><a href="#" id="create-project" data-toggle="modal" data-target="#crupdateProjectModal" class="add-project-btn"> New Project</a></div>
        </div>
        @if (ViewBag.isSuccess == true)
        {
            <partial name="../Shared/Partial/Common/_successAlertPartial.cshtml" model="new List<string>(){ViewBag.type, ViewBag.actionReturned }" />
        }
        <div class="row w-100">
            <div class="table-responsive project-table">
                <table class="table">
                    <thead class="project-thead">
                        <tr>
                            <th scope="col" class="text-muted">Project</th>
                            <th scope="col" class="text-muted">Description</th>
                            <th scope="col" class="text-muted">Contributor</th>
                            <th scope="col" class="text-muted text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.Projects)
                        {
                            <tr>
                                <td class="d-none">@project.Id</td>

                                <td><a asp-controller="Ticket" asp-action="GetTickets" asp-route-id="@project.Id">@project.Name</a></td>
                                <td>@project.Description</td>
                                <td>
                                    <ul>
                                        @if (project.TeamNames != null && project.TeamNames.Any())
                                        {
                                            @foreach (var teamMember in project.TeamNames)
                                            {
                                                <li>@teamMember</li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="text-muted">None</li>
                                        }
                                    </ul>
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item update-btn" href="#" data-toggle="modal" data-target="#crupdateProjectModal"> Edit</a>
                                            <a class="dropdown-item delete-btn" href="#" data-toggle="modal" data-target="#deleteProjectModal"> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<!--Second row -->
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                Tickets by Status
            </div>
            <div class="card-body">
                <canvas class="pie-chart" id="ticket-status-pie"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                Tickets by Priority
            </div>
            <div class="card-body">
                <canvas class="pie-chart" id="ticket-priority-pie"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                Tickets by Type
            </div>
            <div class="card-body">
                <canvas class="pie-chart" id="ticket-type-pie"></canvas>
            </div>
        </div>
    </div>

</div>


@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/Tracker.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            CreatePies();
            handleModals();
        });

        function CreatePies() {
            Chart.register(ChartDataLabels);

            var ticketTypePie = new Chart($("#ticket-type-pie"),
                {
                    type: 'doughnut',

                    data: {
                        labels: ["Issue", "Bug", "Feature request"],
                        datasets: [{
                            label: 'My First Dataset',
                            data: [300, 50, 100],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'right',
                                labels: {
                                    usePointStyle: true,
                                    boxWidth: 6
                                }
                            },
                            datalabels: {
                                color: "white"
                            }
                        }
                    }
                });

            var ticketStatusPie = new Chart($("#ticket-status-pie"), {
                type: 'doughnut',

                data: {
                    labels: ["Resolved", "New", "In Progress"],
                    datasets: [{
                        label: 'My First Dataset',
                        data: [300, 50, 100],
                        backgroundColor: [
                            'rgb(255, 205, 86)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 99, 132)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                            labels: {
                                usePointStyle: true,
                                boxWidth: 6
                            }
                        },
                        datalabels: {
                            color: "white"
                        }
                    }
                }
            });

            var ticketPriorityPie = new Chart($("#ticket-priority-pie"), {
                type: 'doughnut',

                data: {
                    labels: ["Immediate", "High", "Medium", "Low"],
                    datasets: [{
                        label: 'My First Dataset',
                        data: [300, 50, 100, 60],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)',
                            'rgb(100, 205, 186)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                            labels: {
                                usePointStyle: true,
                                boxWidth: 6
                            }
                        },
                        datalabels: {
                            color: "white"
                        }
                    }
                }
            });
        }

        function handleModals() {
            const createModalUrl = '/Tracker/Project/loadCreateModal';
            const updateModalUrl = '/Tracker/Project/loadUpdateModal';
            const deleteModalUrl = '/Tracker/Project/loadDeleteModal';
            var createBtn = $("#create-project");
            var updateBtns = document.querySelectorAll('.update-btn');
            var deleteBtns = document.querySelectorAll('.delete-btn');
            $(document).ajaxComplete(function () {
                $.validator.unobtrusive.parse(document);
            });
            AttachModalCreateListener(createBtn, createModalUrl);
            AttachTableModalListeners(updateBtns, updateModalUrl);
            AttachTableModalListeners(deleteBtns, deleteModalUrl);
        }
    </script>
}