@model BugTracker.Application.Dto.Tickets.CreateTicketDto

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <form asp-controller="Ticket" asp-action="create" asp-route-projectId="@Model.Command.ProjectId" asp-route-projectName="" >

        <input type="hidden" asp-for="Command.ProjectId" />
        <div class="modal-body d-flex">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Command.Name" class="col-form-label">Name:</label>
                    <input asp-for="Command.Name" class="form-control" id="recipient-name">
                    <span asp-validation-for="Command.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Command.Description" class="col-form-label">Description:</label>
                    <textarea asp-for="Command.Description" class="form-control" id="message-text" rows="3"></textarea>
                    <span asp-validation-for="Command.Description" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Command.PriorityId" class="col-form-label">Priority:</label>
                        <select asp-for="Command.PriorityId" class="form-control" id="recipient-name">
                            @foreach (var priority in Model.TicketConfigurations.Priorities)
                            {
                                <option value="@priority.Id">@priority.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Command.PriorityId" class="text-danger"></span>

                    </div>
                    <div class="col-4">
                        <label asp-for="Command.TypeId" class="col-form-label">Type:</label>
                        <select asp-for="Command.TypeId" class="form-control" id="recipient-name">
                            @foreach (var type in Model.TicketConfigurations.Types)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Command.TypeId" class="text-danger"></span>

                    </div>
                    <div class="col-4">
                        <label asp-for="Command.StatusId" for="Name" class="col-form-label">Status</label>
                        <select asp-for="Command.StatusId" class="form-control" id="recipient-name">
                            @foreach (var status in Model.TicketConfigurations.Statuses.Where(s => s.Name.ToLower() == "new"))
                            {
                                <option value="@status.Id">@status.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Command.StatusId" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Command.EstimatedAmountOfHours" class="col-form-label">Estimated hours</label>
                    <input asp-for="Command.EstimatedAmountOfHours" class="form-control" id="estimated-hours">
                    <span asp-validation-for="Command.EstimatedAmountOfHours" class="text-danger"></span>
                </div>

            </div>

            <div class="col-6">

                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Command.Team" class="col-form-label">Assigned Project manager</label>
                        <select asp-for="Command.Team" class="form-control" id="recipient-name" multiple>
                            @foreach (var sub in Model.Team.Where(tm => tm.Role.ToLower() == "project manager"))
                            {
                                <option value="@sub.Id">@sub.Username - @sub.Role </option>
                            }
                        </select>
                        <span asp-validation-for="Command.Team" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label class="col-form-label">Assigned Dev</label>
                        <select asp-for="Command.Team" class="form-control" id="recipient-name" multiple>
                            @foreach (var sub in Model.Team.Where(tm => tm.Role.ToLower() == "developer"))
                            {
                                <option value="@sub.Id">@sub.Username - @sub.Role </option>
                            }
                        </select>
                        <span asp-validation-for="Command.Team" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">Assigned submitter</label>
                        <select asp-for="Command.Team" class="form-control" id="recipient-name" multiple>
                            @foreach (var sub in Model.Team.Where(tm => tm.Role.ToLower() == "submitter"))
                            {
                                <option value="@sub.Id">@sub.Username - @sub.Role </option>
                            }
                        </select>
                        <span asp-validation-for="Command.Team" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-outline-success"/>
        </div>
    </form>


</div>
