@model BugTracker.Application.Dto.Tickets.UpdateTicketDto

<div class="modal-header  d-flex flex-column pl-0 pb-0">
    <div class="w-100 d-flex align-items-center pl-2 pb-2">
        <h5 class="modal-title" id="ticket-update-modal-label">Update ticket</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ul class="nav nav-tabs crupdate-ticket-tabs">

        <li class="nav-item">
            <a class="nav-link active" href="#">Ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
        </li>
    </ul>
</div>
<form asp-controller="Ticket" asp-action="Update" asp-route-projectId="@Model.Command.TicketId">

    <div class="modal-body">
        <div class="col-12" id="ticket-configuration">
            <div class="form-group d-flex">
                <div class="w-50 pr-2">
                    <label asp-for="Command.Name" class="col-form-label">Name:</label>
                    <input asp-for="Command.Name" class="form-control" id="recipient-name">
                    <span asp-validation-for="Command.Name" class="text-danger"></span>
                </div>

                <div class="w-50 pl-2">
                    <label asp-for="Command.EstimatedAmountOfHours" class="col-form-label">Estimated hours</label>
                    <input asp-for="Command.EstimatedAmountOfHours" class="form-control" id="estimated-hours">
                    <span asp-validation-for="Command.EstimatedAmountOfHours" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Command.Description" class="col-form-label">Description:</label>
                <textarea asp-for="Command.Description" class="form-control" id="message-text" rows="3"></textarea>
                <span asp-validation-for="Command.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Command.PriorityId" class="col-form-label">Priority:</label>
                    <select asp-for="Command.PriorityId" class="form-control" id="recipient-name">
                        @foreach (var priority in Model.TicketConfigurations.Priorities)
                        {
                            <option value="@priority.Id">@priority.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Command.PriorityId" class="text-danger"></span>

                </div>
                <div class="col-4">
                    <label asp-for="Command.TypeId" class="col-form-label">Type:</label>
                    <select asp-for="Command.TypeId" class="form-control" id="recipient-name">
                        @foreach (var type in Model.TicketConfigurations.Types)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Command.TypeId" class="text-danger"></span>

                </div>
                <div class="col-4">
                    <label asp-for="Command.StatusId" for="Name" class="col-form-label">Status</label>
                    <select asp-for="Command.StatusId" class="form-control" id="recipient-name">
                        @foreach (var status in Model.TicketConfigurations.Statuses.Where(s => s.Name.ToLower() == "new"))
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Command.StatusId" class="text-danger"></span>

                </div>
            </div>

        </div>

        <div class="col-12 d-none" id="ticket-team">

            <div class="form-group">

                <div class="p-2">
                    <div class="d-flex">
                        <label asp-for="Command.Team" class="col-form-label">Assigned Project manager</label>

                        <div class="ml-auto d-flex justify-content-center align-items-center flex-wrap-reverse">
                            <input type="button" class="x-btn purple small select-cleaner" value="Clear" />
                        </div>
                    </div>
                    <select asp-for="Command.Team" class="form-control" id="pm-team-select" multiple>
                        @foreach (var pm in Model.Team.Where(tm => tm.Role.ToLower() == "project manager"))
                        {
                            <option value="@pm.Id" class="@(Model.Command.Team.Contains(pm.Id)? "selected":"")">@pm.Username - @pm.Role </option>
                        }
                    </select>
                    <span asp-validation-for="Command.Team" class="text-danger"></span>
                </div>
                <div class="p-2">
                    <div class="d-flex">

                        <label class="col-form-label">Assigned Dev</label>

                        <div class="ml-auto d-flex justify-content-center align-items-center flex-wrap-reverse">
                            <input type="button" class="x-btn purple small select-cleaner" value="Clear" />
                        </div>

                    </div>
                    <select asp-for="Command.Team" class="form-control" id="dev-team-select" multiple>
                        @foreach (var dev in Model.Team.Where(tm => tm.Role.ToLower() == "developer"))
                        {
                            <option value="@dev.Id" class="@(Model.Command.Team.Contains(dev.Id)? "selected":"")">@dev.Username - @dev.Role </option>
                        }
                    </select>
                    <span asp-validation-for="Command.Team" class="text-danger"></span>
                </div>

                <div class="p-2">
                    <div class="d-flex">
                        <label class="col-form-label">Assigned submitter</label>

                        <div class="ml-auto d-flex justify-content-center align-items-center flex-wrap-reverse">
                            <input type="button" class="x-btn purple small select-cleaner" value="Clear" />
                        </div>
                    </div>
                    <select asp-for="Command.Team" class="form-control" id="sub-team-select" multiple>
                        @foreach (var sub in Model.Team.Where(tm => tm.Role.ToLower() == "submitter"))
                        {
                            <option value="@sub.Id" class="@(Model.Command.Team.Contains(sub.Id)? "selected":"")">@sub.Username - @sub.Role </option>
                        }
                    </select>
                    <span asp-validation-for="Command.Team" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="x-btn green" />
    </div>
</form>

