@model BugTracker.Application.ViewModel.UserTicketsVm;

<div class="py-4 row d-flex justify-content-around h-50">

    <div class="first-row col-11 p-0">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="research-input-wrapper d-flex justify-content-center align-items-center">
                <form asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated">
                    <input type="text" name="searchString" class="table-sorter-input ml-1" placeholder="Reseach..."
                           value="@(string.IsNullOrEmpty(Model.Pager.SearchText) ? "" : Model.Pager.SearchText)"/>
                    <button type="submit" class="x-btn blue mx-1">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="px-2 d-flex">
                @if (User.IsInRole("Admin") || User.IsInRole("Demo Admin"))
                {
                    @if ((bool)ViewData["showOnlyCreated"] == false)
                    {

                        <form asp-controller="Ticket" asp-route-showOnlyCreated="@true" asp-route-showAll="@false">
                            <input type="submit" class="x-btn blue" value="Show my tickets" />
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Ticket" asp-route-showOnlyCreated="@false" asp-route-showAll="@true">
                            <input type="submit" class="x-btn purple" value="Show all tickets" />
                        </form>
                    }
                }

            </div>
        </div>

        <div class="table-responsive w-100">
            <table class="table ticket-list-table">
                <thead class="ticket-thead">
                    <tr>
                        <th scope="col" class="text-muted">Ticket Title</th>
                        <th scope="col" class="text-muted">Project</th>
                        <th scope="col" class="text-muted">Author</th>
                        <th scope="col" class="text-muted">Priority</th>
                        <th scope="col" class="text-muted">Type</th>
                        <th scope="col" class="text-muted">Estimated hours</th>
                        <th scope="col" class="text-muted">Status</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td class="d-none ticket-id-holder">@ticket.Id</td>
                            <td class="d-none ticket-description-data" data-description="@ticket.Description"></td>
                            <td scope="row">@ticket.Name</td>
                            <td scope="row" class="text-purple"><a asp-action="ByProject" asp-route-projectId="@ticket.ProjectId" class="ticket-link">@ticket.Project </a></td>
                            <td>@ticket.Author</td>
                            <td><span class="pill @(ticket.Priority.ToLower())">@ticket.Priority</span></td>
                            <td>@ticket.Type</td>
                            <td class="text-center">@ticket.EstimatedAmountOfHours</td>
                            <td class="@(ticket.Status.ToLower() == "resolved"? "text-green font-weight-bold":"")">@ticket.Status</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div class="row d-flex justify-content-sm-between align-items-center w-100">
            <div class="pagination-holder d-flex p-2">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <a class="purple-circle angle" asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated"  asp-route-page="1" asp-route-searchstring="@Model.Pager.SearchText">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a class="purple-circle angle" asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated" asp-route-page="@(Model.Pager.CurrentPage - 1)" asp-route-searchstring="@Model.Pager.SearchText">
                        <i class="fas fa-angle-left"></i>
                    </a>
                }
                @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                {
                    if (Model.Pager.CurrentPage == i)
                    {
                        <a class="purple-circle  @(i == Model.Pager.CurrentPage ? "filled" : "")">@i</a>
                    }
                    else
                    {
                        <a class="purple-circle" asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated" asp-route-page="@i" asp-route-searchstring="@Model.Pager.SearchText">@i</a>
                    }
                }

                @if (Model.Pager.CurrentPage < Model.Pager.EndPage)
                {
                    <a class="purple-circle angle" asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated"  asp-route-page="@(Model.Pager.CurrentPage + 1)" asp-route-searchstring="@Model.Pager.SearchText">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a class="purple-circle angle" asp-action="ByUser" asp-route-showOnlyCreated="@Model.ShowOnlyCreated"  asp-route-page="@(Model.Pager.TotalPages)" asp-route-searchstring="@Model.Pager.SearchText">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                }
            </div>

            <div class="p-2">
                <p>
                    Showing @Model.Pager.StartRecord to @Model.Pager.EndRecord of @Model.Pager.TotalItems Rows.
                </p>
            </div>
        </div>    </div>

</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sectionName").text("@((bool)ViewData["showOnlyCreated"] == true ? "Your Tickets" : User.IsInRole("Admin") ? "All Tickets" : "Assigned Tickets")");
            $("#sidebar ul li.active").removeClass("active");
            $("#tickets-management-link").addClass("active");
            $(".navbar").css("background", "linear-gradient(184deg, rgb(114 0 255) 0%, rgb(178, 143, 251) 100%) ")

        });
    </script>
}