@model BugTracker.Application.ViewModel.ProjectWithTicketVm

<partial name="../Shared/Partial/Common/_modalHolderPartial.cshtml" />
<div class="py-4 row d-flex justify-content-around h-50">

    <div class="first-row col-11 p-0">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="research-input-wrapper d-flex justify-content-center align-items-center">
                <p class="mb-0 mr-2">Find by </p>
                <select class="h-100 table-sorter-select">
                    <option>Name</option>
                    <option>Author</option>
                    <option>Priority</option>
                    <option>Status</option>
                    <option>Assigned developer</option>
                </select>
                <input type="text" class="table-sorter-input ml-1" placeholder="Reseach..." />
            </div>
            <div class="">
                <a href="#" data-toggle="modal" data-target="#showProjectTeam" class="show-team-btn">Manage Team</a>
            </div>

            <div class="project-add-holder">
                <a href="#" data-toggle="modal" data-target="#createTicketModal" class="add-project-btn" id="create-ticket"> New Ticket</a>
            </div>
        </div>
        @if (ViewBag.isSuccess == true)
        {
            <partial name="../Shared/Partial/Common/_successAlertPartial.cshtml" model="new List<string>(){ViewBag.type, ViewBag.actionReturned }" />
        }
        <div class="table-responsive w-100">
            <table class="table ticket-list-table">
                <thead class="ticket-thead">
                    <tr>
                        <th scope="col" class="text-muted">Ticket Title</th>
                        <th scope="col" class="text-muted">Description</th>
                        <th scope="col" class="text-muted">Author</th>
                        <th scope="col" class="text-muted">Priority</th>
                        <th scope="col" class="text-muted">Status</th>
                        <th scope="col" class="text-muted">Type</th>
                        <th scope="col" class="text-muted">Estimated hours</th>
                        <th scope="col" class="text-muted text-center">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td class="d-none">@ticket.Id</td>
                            <td scope="row" class="text-purple"><a data-toggle="modal" data-target="#showTicketDetails" class="ticket-link" >@ticket.Name </a></td>
                            <td>@ticket.Description</td>
                            <td>@ticket.Author</td>
                            <td>@ticket.Priority</td>
                            <td>@ticket.Status</td>
                            <td>@ticket.Type</td>
                            <td class="text-center">@ticket.EstimatedAmountOfHours</td>

                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item update-btn" href="#" data-toggle="modal" data-target="#crupdateTicketModal">Edit</a>
                                        <a class="dropdown-item delete-btn" href="#" data-toggle="modal" data-target="#deleteTicketModal">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle">2</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>


<!-- Temporary Modals-->

<partial name="../Shared/Partial/Ticket/_detailsTicketModalPartial.cshtml" />
@*<partial name="../Shared/Partial/Ticket/_createTicketModalPartial.cshtml" />*@


@*<div class="modal fade" id="showProjectTeam" tabindex="-1" role="dialog" aria-labelledby="showProjectTeamModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100 box-shadow-1" id="teamDisplay">
                    <div class="first-row-header  d-flex px-1 py-2 w-100 justify-content-between">
                        <div class="title ml-1"> Team </div>
                        <div class="mr-1"><a href="#" class="add-member-btn"> New Member</a></div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="project-thead">
                                <tr>
                                    <th scope="col" class="text-muted">Name</th>
                                    <th scope="col" class="text-muted">E-mail</th>
                                    <th scope="col" class="text-muted">Phone</th>
                                    <th scope="col" class="text-muted">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John doe</a></td>
                                    <td>Johndoe@gmail.com</td>
                                    <td>07 65 10 38 75</td>
                                    <td> <a class="red-btn delete-team-member"><i class="fas fa-trash-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td>Jane doe</td>
                                    <td>Janedoe@gmail.com</td>
                                    <td>06 17 18 31 04</td>
                                    <td> <a class="red-btn delete-team-member"><i class="fas fa-trash-alt"></i></a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>

                <div class="w-100 team-add-container p-2 d-none">
                    <form>
                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Assigned Dev</label>
                            <select class="form-control" id="recipient-name" multiple>
                                <option>John doe</option>
                                <option>Jane doe</option>
                                <option>Jack Elfman</option>
                            </select>
                        </div>

                        <div class="form-group w-100 d-flex">
                            <input type="submit" class="green-btn d-block ml-auto" value="Add Team member(s)" />
                            <a class="red-btn ml-2 px-4" id="cancelTeamAdd">Cancel</a>
                        </div>
                    </form>
                </div>

                <div class="w-100 team-remove-container p-2 d-none">
                    <form>
                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Delete Team Member</label>
                            <p> Are you sure you want to remove <span class="text-purple">John doe</span> from the ticket <span class="text-purple">Ticket name</span> ?</p>
                        </div>

                        <div class="form-group w-100 d-flex">
                            <a class="red-btn px-4 ml-auto mr-2" id="cancelTeamRemove">Cancel</a>

                            <input type="submit" class="green-btn d-block" value="Remove Team member" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row d-flex justify-content-start align-items-start w-100 d-none">
                    <div class="pagination-holder d-flex p-2">
                        <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                        <div class="purple-circle filled">1</div>
                        <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


*@


@section scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Tracker.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sectionName").text('@(Model.Name)');

            handleModals();

            $("#cancelTeamAdd , #cancelTeamRemove").click(() => {
                $(".modal-footer").removeClass("d-none");
                $("#teamDisplay").removeClass("d-none");
                $(".team-add-container").addClass("d-none");
                $(".team-remove-container").addClass("d-none");

            });

            $(".add-member-btn").click(() => {
                $(".modal-footer").addClass("d-none");
                $("#teamDisplay").addClass("d-none");
                $(".team-add-container").removeClass("d-none");
            });

            $(".delete-team-member").click(() => {
                $(".modal-footer").addClass("d-none");
                $("#teamDisplay").addClass("d-none");
                $(".team-remove-container").removeClass("d-none");
            });

            $(".ticket-link").click(() => {
                setTimeout(function () {
                    $("#comments-holder").scrollTop($("#comments-holder")[0].scrollHeight)
                }, 200);
            });

            $(".ticket-tabs .nav-item").click(function (e) {
                $(".ticket-tabs .nav-item .nav-link.active").removeClass("active");
                e.currentTarget.children[0].classList.add("active");
                if (e.currentTarget.children[0].firstChild.data === "Comments") {
                    $("#comments").removeClass("d-none");
                    $("#ticket-team").addClass("d-none");
                }
                else {
                    $("#comments").addClass("d-none");
                    $("#ticket-team").removeClass("d-none");

                }
            })


        });


        function handleModals() {
            var projectId = '@Model.Id';

            const createModalUrl = '/Tracker/Ticket/loadCreateModal?projectId=' + projectId;
            const updateModalUrl = '/Tracker/Ticket/loadUpdateModal';
            const deleteModalUrl = '/Tracker/Ticket/loadDeleteModal?projectId=' + projectId;
            var createBtn = $("#create-ticket");
            var updateBtns = document.querySelectorAll('.update-btn');
            var deleteBtns = document.querySelectorAll('.delete-btn');
            $(document).ajaxComplete(function () {
                $.validator.unobtrusive.parse(document);
            });
            AttachModalCreateListener(createBtn, createModalUrl, true);
            AttachTableModalListeners(updateBtns, updateModalUrl);
            AttachTableModalListeners(deleteBtns, deleteModalUrl, true);
        }

    </script>
}